<%- include('./partials/header')%>

<div class="container homepage mt-4">
  <img src="/crypto-tracker.png" class="homepage-img">
  <h2>About</h2>
  <p>This app allows people to select and favorite specific crypto coins and keep track of their information, such as their prices and much more information on the daily basis.</p>
</div>

<%- include('./partials/footer')%>
