body {
  background-color: lightsteelblue;
}

.coin-card {
  min-width: 100px;
  max-width: 150px;
}

.watchlist-card {
  padding: 10px;
}

img {
  width: 50%;
}

.thumb {
  width: 50px;

}

.delete {
  background-color: red;
  color: white;
}

.homepage-img {
  width: 100%;
}

.homepage {
  max-width: 600px;
}